/* regole di reset */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul, ol, menu {
    list-style: none;
}

body {
    background-color: #fff;
}

/* regole di layout */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.container-small {
    max-width: 900px;
    height: 400px;
    margin: 0 auto;
    background-color: #EE82EE;
}

.flex {
    display: flex;
}

/* main */
.main-header {
    padding: 15px 25px;
    background-color: #ADD8E6;
}

.main-nav {
    padding: 15px;
    background-color: #DAA520;
    justify-content: space-between;
}

.main-menu {
    gap: 15px;
}

/* main */
main > section {
    padding: 50px 25px;
}

.hero {
    background-color: #00008B;
}

section.content .row {
    height: 500px;
}

.col-60 {
    flex-basis: 60%;
    background-color: #1E90FF;
}

.col-40 {
    flex-basis: 40%;
    background-color: #FFC0CB;
}

main > section:nth-child(2n + 3) {
    background-color: #D3D3D3;
}

section.reverse .row {
    flex-direction: row-reverse;
}

main > section:last-child .container {
    height: 900px;
    background-color: #228B22;
}




/* regole di debug */
.debug * {
    /* border: 1px solid red; */
}