/* regole di reset */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
}

img {
    max-width: 100%;
}

ul, ol, menu {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

/* regole di layout */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.container-small {
    max-width: 900px;
    height: 400px;
    margin: 0 auto;
    background-color: #EE82EE;
}

.flex {
    display: flex;
}

/* header */
.main-header {
    padding: 15px;
    background-color: #255EE9;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-nav .logo {
    align-self: flex-start;
}

.main-menu {
    display: flex;
    gap: 35px;
}

.cta {
    display: inline-block;
    padding: 0 15px;
    line-height: 36px;
    border-radius: 18px;
    color: black;
    background-color: white;
}

/* main */
main > section {
    padding: 50px 25px;
}

.hero {
    background-color: #00008B;
}

section.content .row {
    height: 500px;
}

.col-60 {
    flex-basis: 60%;
    background-color: #1E90FF;
}

.col-40 {
    flex-basis: 40%;
    background-color: #FFC0CB;
}

main > section:nth-child(2n + 3) {
    background-color: #D3D3D3;
}

section.reverse .row {
    flex-direction: row-reverse;
}

main > section:last-child .container {
    height: 900px;
    background-color: #228B22;
}

/* footer */
footer {
    background-color: #23272A;
}

footer section {
    padding: 15px 25px 50px;
    border-bottom: 1px solid #fff;
}

footer > div {
    padding: 25px 25px 0;
}

footer .row {
    height: 580px;
}

footer .col-lg {
    flex-basis: calc( (100% / 6) * 2);
    background-color: #F08080;
}

footer .col {
    flex-basis: calc(100% / 6);
    background-color: #20B2AA;
}

footer > div div.container {
    justify-content: space-between;
    padding: 25px 0;
    background-color: #7FFFD4;
}

footer .logo, footer .bottone {
    display: inline-block;
    padding: 0 15px;
    line-height: 35px;
    background-color: #FFB6C1;
}

/* regole di debug */
.debug header * {
    /* border: 2px solid salmon; */
}